@if (member(); as member) {
<div routerLink="/members/{{member.id}}" class="card - cursor-pointer transition-all duration-300 ease-in-out 
        transform hover:-translate-y-2 relative">
    <img src="{{member?.imageUrl || '/user.png'}}" alt="{{member.displayName}} image" class="rounded-lg">
    
    @if (isOnline()) {
       <span class="status status-success status-xl absolute top-3 left-3"></span>
    }

    <button class="absolute top-1 right-1 z-40 btn btn-ghost btn-circle" (click)="toggleLike($event)">
        <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24" 
        [attr.fill]="hasLiked() ? 'red' : 'none'" 
        stroke-width="1.5"
        stroke="currentColor"
        class="size-7">
        <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
        </svg>
    </button>
    <div 
     class="card-actions z-40 
       absolute bottom-0 w-full px-3 py-1 rounded-b-lg
       bg-gradient-to-t from-black via-black/75 to-black/0
       ">
        <div class="flex flex-col text-white">
            <span class="font-semibold">{{member.displayName}}, {{member.dateOfBirth | age}}</span>
            <span class="text-sm">{{member.city}}</span>
        </div>
    </div>
</div>
}